html, body {
  background-color: #282c35;
}

h1 a {
  color: #FFFFFF;
  font-size: 1.98818rem;
  float: left;
  line-height: 35px;
}

h1 {
  height: 42px;
}

h3 a {
  font-family: Montserrat;
  color: #FFA7C4;
  font-size: 1.75rem;
}

p a { 
  color: #FFA7C4;
}

small {
  color: #C4C6C8;
}

p {
  color: #E0E1E2;
}

main div:first-child {
  height: 70px;
}

footer {
  color: #FFA7C4;
}

footer a {
  color: #FFA7C4;
}